.env

**/node_modules

**/*.log

**/dist

**/.git
**/.gitignore

**/.husky

**/.vscode

**/.idea

**/terraform

**/sqlscript

**/vector-db-azure

**/docker-data

**/.eslintrc.js
**/.eslintignore
**/.eslintrc
**/.prettierrc
**/commitlint.config.js
**/deploy-build-image.sh
**/deploy-run-container.sh
**/docker-compose.yml
**/prometheus.yml
**/README.md
**/run.bat
**/run.sh
**/run.ps1
**/commitlint.config.ts
**/grafana
logs/*
yarn.lock